:root {
    font-size: 2vmin;
}

body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: inherit;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.help_button {
    font-size: 2.5rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid grey 0.15rem;
    color: grey;
    z-index: 11;
}
.help_button:hover {
    scale: 1.1;
    transition: all 0.2s ease-out;
}
.help_button.overlaying {
    color: white;
    border-color: white;
}

.help_overlay {
    padding-top: 5rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100vh;
    background: grey;
    opacity: 0.9;
    z-index: 10;
    display: flex;
    align-items: center;
    display: none;
}
.help_h2 {
    text-align: center;
}
.help_h4 {
    margin-left: 1rem;
}

.full_wrapper {
    width: 50rem;
    max-width: 100vw;
}

.container_ui {
    margin: 0 auto;
    width: 45rem;
    display: flex;
}

.button_start {
    padding: 0;
    font-size: .75rem;
    background: white;
    border: grey .2rem solid;
    color: grey;
    font-weight: bold;
    width: 5rem;
    height: 2.25rem;
    border-radius: 1rem;
    margin: 0 .25rem;
}
.button_start:hover {
    scale: 1.1;
    transition: all 0.2s ease-out;
}
.button_start.disabled {
    opacity: 0.5;
}
.button_start.disabled:hover {
    scale: 1;
}

.side_waiting {
    font-size: .75rem;
    height: 2rem;
    padding: 1rem 0;
    display: none;
}

.container_game {
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 100vmin;
    max-height: 100vmin;
}

.matrix {
    width: 22.5rem;
    height: 22.5rem;
    background-image: url("../images/grid_block.png");
    background-size: 10%;
    background-color: lightblue;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    position: relative;
    overflow: visible;
}

.block {
    width: 100%;
    height: 100%;
}

.block.ship_part {
    background: grey;
}

.block.ship_part.destroyed {
    background: rgb(63, 63, 63);
}

.block.ship_part.destroyed.enemy {
    margin: auto;
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

.block.sea.destroyed {
    margin: auto;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: white;
}

.ship {
    margin: auto;
    display: grid;
    height: 100%;
    width: 100%;
    padding: 0.2rem;
    position: absolute;
}

.ship.moveable:hover {
    filter: brightness(0.80);
}

.ship.big.vertical {
    grid-template: repeat(5, 1fr) / repeat(1, 1fr);
    grid-row-end: span 5;
    grid-column-end: span 1;
}   
.ship.big.horizontal {
    grid-template: repeat(1, 1fr) / repeat(5, 1fr);
    grid-row-end: span 1;
    grid-column-end: span 5;
}

.ship.medium.vertical {
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    grid-row-end: span 3;
    grid-column-end: span 1;
}
.ship.medium.horizontal {
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    grid-row-end: span 1;
    grid-column-end: span 3;
}

.ship.small.vertical {
    grid-template: repeat(2, 1fr) / repeat(1, 1fr);
    grid-row-end: span 2;
    grid-column-end: span 1;
}
.ship.small.horizontal {
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-row-end: span 1;
    grid-column-end: span 2;
}

.dead {
    /* make some nice dead image or something */
    background: url("../images/red_x.png");
    background-size: contain;
    z-index: 2;
}

.container_ending {
    margin-left: auto;
    width: 22.5rem;
    text-align: center;
    display: none; 
}

.display_won {
    margin: 0;
    font-size: 3.5rem;
}
.display_message {
    margin: 0;
    font-size: 1.5rem;
}

.container_turn {
    display: flex;
    justify-content: center;
}

.display_turn {
    margin: 0;
}
